<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-dark crud">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Roberta Pet Shop Web APP</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarID"
          aria-controls="navbarID"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
          <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#"
                >Registro</a
              >
              <a class="nav-link active" aria-current="page" href="#"
                >Historial</a
              >
              <a class="nav-link active" aria-current="page" href="#"
                >Egresos</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por cedula"
          (keyup)="filterUsers($event)"
        />
      </div>
    </div>
    <div class="col-sm-12 offset-md-5 col-md-3 offset-lg-5 col-lg-3">
      <button
        class="btn btn-success agregar"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        + Agregar
      </button>
    </div>
  </div>
  <div class="row mt-4 p-4">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>Usuario</th>
          <th colspan="3" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of users; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ us.id }}</td>
          <td>{{ us.username }}</td>
          <td>
            <button
              class="btn info"
              (click)="loadInfo(i)"
              data-bs-toggle="modal"
              data-bs-target="#details"
            >
              <i class="fa-solid fa-eye"></i>
              Detalles
            </button>
          </td>
          <td>
            <button class="btn eliminar" (click)="eliminar(i)">
              <i class="fa-solid fa-trash"></i>
              Eliminar
            </button>
          </td>
          <td>
            <button
              class="btn editar"
              (click)="loadInfo(i)"
              data-bs-toggle="modal"
              data-bs-target="#editar"
            >
              <i class="fa-solid fa-pencil"></i>
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register Form</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="d-flex justify-content-center">
              <form>
                <div class="mb-3">
                  <label for="username">Mi dueño: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="username"
                    [(ngModel)]="inputUser.username"
                  />
                </div>
                <div class="mb-3">
                  <label for="mascota">Mi nombre: </label>
                  <input
                    class="form-control"
                    type="mascota"
                    name="mascota"
                    [(ngModel)]="inputUser.mascota"
                  />
                </div>
                <div class="mb-3">
                  <label for="raza">Mi raza: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="raza"
                    [(ngModel)]="inputUser.raza"
                  />
                </div>
                <div class="mb-3">
                  <label for="age">Mi edad: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="edad"
                    [(ngModel)]="inputUser.age"
                  />
                </div>
                <div class="mb-3">
                  <label for="celular">Contacto: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="celular"
                    [(ngModel)]="inputUser.celular"
                  />
                </div>
                <div class="mb-3">
                  <label for="email">Email: </label>
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    [(ngModel)]="inputUser.email"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addUser()"
            data-bs-dismiss="modal"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL EDIT -->
  <div
    class="modal fade"
    id="editar"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Form</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="d-flex justify-content-center">
              <form>
                <div class="mb-3">
                  <label for="username">Mi dueño: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="username"
                    [(ngModel)]="editUser.username"
                  />
                </div>
                <div class="mb-3">
                  <label for="mascota">Mi nombre: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="mascota"
                    [(ngModel)]="editUser.mascota"
                  />
                </div>
                <div class="mb-3">
                  <label for="raza">Mi raza: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="raza"
                    [(ngModel)]="inputUser.raza"
                  />
                </div>
                <div class="mb-3">
                  <label for="age">Mi edad: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="edad"
                    [(ngModel)]="editUser.age"
                  />
                </div>
                <div class="mb-3">
                  <label for="celular">Celular: </label>
                  <input
                    class="form-control"
                    type="text"
                    name="celular"
                    [(ngModel)]="editUser.celular"
                  />
                </div>
                <div class="mb-3">
                  <label for="email">Email: </label>
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    [(ngModel)]="editUser.email"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL DETAILS -->
  <div
    class="modal fade"
    id="details"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Registrado: {{ myDate | date: 'dd-MM-yyyy' }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <strong>Id</strong>
            </div>
            <div class="col-6">
              {{ editUser.id }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <strong>Mi dueño</strong>
            </div>
            <div class="col-6">
              {{ editUser.username }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <strong>Mi nombre: </strong>
            </div>
            <div class="col-6">
              {{ editUser.mascota }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <strong>Mi raza: </strong>
            </div>
            <div class="col-6">
              {{ editUser.raza }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <strong>Mi edad: </strong>
            </div>
            <div class="col-6">
              {{ editUser.age }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <strong>Celular: </strong>
            </div>
            <div class="col-6">
              {{ editUser.celular }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <strong>Email: </strong>
            </div>
            <div class="col-6">
              {{ editUser.email }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
